
*{
  color:white;
  

}
.online{
  position: relative;
}
.aside{

  display: inline;
  padding-bottom: 13px;
  border-bottom: 1px solid white;
}

.aside a{
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  display: inline;
  margin: 15px;
  word-spacing: 0.7px;

}
#aside1{
  margin-left: 0;

}
#header a{


  font-weight: normal;
  font-size: 5rem;
  font-family: fantasy;
  color:white;
  ;
}

header{
  padding-top: 25px;

  margin-top: 45px;
  margin-bottom: 35px;
text-align: center;
background-image:url("universe.jpg");
background-size:100% 100%;
height:140px;
}




body{
  color:white;
  background-color: black;
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;

}

#inline {

  margin: 30px;

  display: inline-block;
  text-align: center;
}
#inline img{
  width:260px;
  height:250px;
}

a{
  color:black;
  text-decoration: none;
}
.explain1{
  letter-spacing: 0.7px;
  word-spacing: 1px;
  font-size: 1.1rem;

  text-align: justify;
}
#moon{

  font-size:5rem;
}
