*{
color:white;
text-decoration: none;

  font-weight: bold;
box-sizing: border-box;    
}

body{

  background-image: url("universe.jpg");
  display: flex;
/*  justify-content:center;*/


}
#title{

  display: inline-block;
 text-align: center;
  font-family: arial;
  letter-spacing: 0.3rem;
  font-size: 4rem;
  transition: all 1s;
}
#title a:hover{
    
    font-size: 4.3rem;
}
.container{
    margin: auto;

  display:flex;
  flex-direction: column;
/*  width: 100%;*/

}
.content{
  display: flex;
  flex-direction: row;
  justify-content: center;
/*  max-width: 2000px;*/
  /* align-items: center; */

}

    
nav, aside{
  /* border: 2px solid white; */
  flex-basis: 225px;
  margin:10px;
  font-size: 1.3rem;
/*  flex-shrink: 0;*/

}
nav{
        position: relative;
    right:25px;
    top:10px;
}

header{

  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top:50px;
/*  flex-shrink: 0;*/

}
footer{
  text-align: right;
    font-size: 1.7rem;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 250px;
    margin-right: 250px;
}


main {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  background-color: black;
  align-items: center;
    flex-basis: 1400px;
    

}
.item{
border: 1px solid gray;
flex-direction: row;

}
.basic{
  display:flex;
  flex-direction: column;
background-color: black;
justify-content: center;
    align-items: center;
}

.basic1, .basic2, .basic3{
    display: flex;
    flex-direction: row;
    
    padding:50px;
}

#basic1{
  font-family: arial;
  font-size: 1.1rem;
  margin: 20px;
  text-align: center;

}

.basic1 img{
    
  width:550px;
  height:300px;
}

.basic2 img{

    width:550px;
    height:300px;
}

.basic3 img{

    width:550px;
    height:300px;
}

#basic1 a{
  text-decoration: none;
}

.news{
  border-top: 1px ridge white;
  padding:15px;
  padding-top: 30px;
  background-color: black;
  font-size: 2.3rem;
}

.basic3{

    border-bottom: 2px ridge white;
}



.news img{
  padding-right:10px;
}


.list{
  font-weight: bold;
  margin-left: 185px;
  margin-right: 185px;
  padding-bottom: 25px;
  padding-top:25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;

}
#list{
  display: flex;
  font-family: arial;
  font-size: 1.6rem;
  padding-top:30px;
  padding-left:30px;
  padding-right: 30px;
    font-weight: bold;
  flex-shrink: 0;
    
}
/*<--추가-->*/

/*

#basic1 {
	display:block;
	position:relative;
}

    
@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
#basic1:hover,
#basic1:focus {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
*/
        

#basic1{
    
	transition: opacity .5s ease-in-out;
  
}


.basic:hover  #basic1:not(:hover) {
	opacity: 0.3;
}




#list {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
#list:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
#list:hover, #list:focus, #list:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
#list:hover:before, #list:focus:before, #list:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

@-webkit-keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
/*<--추가-->*/

/* main  */
/* Sun */

nav>ul>li{

  padding-top:20px;
}
#tp{
  margin-top: 40px;
  background-color: white;
}
#tp2{
  margin-top: 40px;
}
#here{
  text-decoration: underline;
  text-align: right;
}
.sunexplain{
    
  color: #e6e6e6;
  line-height:30px;
  word-spacing: 1.5px;
  letter-spacing: 1px;
  padding:30px;
  padding-top:0;
  font-size: 1.4rem;
    max-width: 1200px;
    
}
.subject1{
  padding:30px;
  font-size: 3rem;
}
.sun img{
  padding:40px;
  padding-bottom: 80px;
}


